.valid-word {
  background: green;
  color: white;
}

.letters__outer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.letters__tile {
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-transform: uppercase;
  border: 1px grey solid;
  border-radius: 5px;
  font-family: Futura;
  color: transparent;
  text-shadow: rgb(245 245 245 / 50%) 1px 2px 1px;
  color: #a9a85e;
  text-shadow: -1px -1px 0 #898a4a, 0 1px 1px #dedec2;
  background: linear-gradient(to bottom, #f9f194 0%, #ebe38d 25%, #dad281 100%);
}